{% extends 'base.html.twig' %}

{% block nav %}
    {% set menuActive=menuActive|default('dashboard') %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a href="{{ path('private_dashboard') }}" class="navbar-brand">Mileage</a>
            <button type="button"
                    class="navbar-toggler"
                    data-toggle="collapse"
                    data-target="#navPrimary"
                    aria-controls="navPrimary"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navPrimary">
                <ul class="navbar-nav mr-auto">
                    {% set active=menuActive=='dashboard' %}
                    <li class="nav-item{% if active %} active{% endif %}">
                        <a href="{{ path('private_dashboard') }}" class="nav-link">
                            Dashboard
                            {% if active %}<span class="sr-only">(current)</span>{% endif %}
                        </a>
                    </li>
                    {% set active=menuActive=='car' %}
                    <li class="nav-item{% if active %} active{% endif %}">
                        <a href="{{ path('private_car_index') }}" class="nav-link">
                            My cars
                            {% if active %}<span class="sr-only">(current)</span>{% endif %}
                        </a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item dropdown">
                            <a href="#"
                               class="nav-link dropdown-toggle"
                               id="navAdmin"
                               role="button"
                               data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">
                                Admin
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navAdmin">
                                <a href="#" class="dropdown-item">Users</a>
                            </div>
                        </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="{{ path('public_security_logout') }}" class="nav-link">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('private') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('private') }}
{% endblock %}
